@font-face{font-family:'Pier-Sans';src:url('http://asnise-service.ueuo.com/fonts/PierSans-Regular.ttf');}
@font-face{font-family:'Serithai';src:url('../fonts/Serithai-Regular.ttf');}
::-webkit-scrollbar
{
	width:0;
}
body
{
	background:#000;
	font-family:Serithai,sans-serif;
	text-align:center;
}
h1
{
	color:#000;
	font-family:Pier-Sans,sans-serif;
	cursor:default;
}
p
{
	cursor:default;
}

.content
{
	background:#FFF;
	margin:50px;
	padding:20px;
	border-radius:10px;
}
.preview img
{
	width:350px;
	transition:.3s;
}
.preview img:hover
{
	z-index:10;
	transform:scale(1.5);
}
button
{
	background:#000;
	padding:10px 40px;
	font-size:20px;
	border-radius:10px;
	border:none;
	transition:.2s;
	color:#FFF;
	outline:none;
}
button:hover
{
	background:#00acff;
	cursor:pointer;
	
}
.line
{
	border-bottom:1px solid #000;
}
@media screen and (max-device-width:768px)
{
	.preview img
	{
		width:75%;
		padding:5px;
	}
	button
	{
		font-size:1.8cm;
	}
}